<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenZHHK</title>

    <link rel="stylesheet" href="/static/styles/bulma.min.css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/custom.css">
    <link rel="stylesheet" href="/static/styles/pace.css">

  </head>

  <body>

    {%- block topbar -%}
        {% include "header.html" %}
    {%- endblock -%}

    {% block content %}{% endblock %}
    {% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="content is-centered">
          <p>
            © 2016 <strong>OpenZHHK</strong>. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    {% endblock %}

    <script src="/static/scripts/jquery-1.12.2.min.js"></script>
    <script src="/static/scripts/pace.min.js"></script>

    <script>
	    $(document).on('ready',function(){
		    {% block js_footer %}{% endblock %}
	    });
    </script>

  </body>
</html>