<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenZHHK</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/custom.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>

    {%- block topbar -%}
        {% include "header.html" %}
    {%- endblock -%}

    {% block content %}{% endblock %}
    {% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="content is-centered">
          <p>
            © 2016 <strong>OpenZHHK</strong>. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    {% endblock %}
    <script>
	    $(document).on('ready',function(){
		    {% block js_footer %}{% endblock %}
	    });
    </script>

  </body>
</html>