<header class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-item" href="/">
        <img src="/static/images/logo.png" alt="Logo">
      </a>
    </div>
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="header-right header-menu">
      <span class="header-item">
        <a class="" href="/">Home</a>
      </span>
      <span class="header-item">
        <a href="/new" class="">
          Contribute
        </a>
      </span>
      <span class="header-item">
        <a href="/download" class="">
          Download Database
        </a>
      </span>
	  <span class="header-item">
        <a href="/stats" class="">
          Stats
        </a>
      </span>
    </div>
  </div>
</header>