<header class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-item" href="#">
        <img src="/static/images/logo.png" alt="Logo">
      </a>
    </div>
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="header-right header-menu">
      <span class="header-item">
        <a class="is-active" href="/">Home</a>
      </span>
      <span class="header-item">
        <a href="/new" class="button is-inverted">
          Contribute
        </a>
      </span>
    </div>
  </div>
</header>