{% extends "base.html" %}
{# TODO: Add button to delete #}
{# TODO: Add links to detail.html #}
{% block content %}
	<section class="hero">
		<div class="hero-content">
			<div class="container">
				<div class="search">
					<form>
						<p class="control is-grouped">
							<label class="checkbox">
								<input name="singleword" {{ "checked" if sw }} type="checkbox">
								Single word
							</label>
							<input class="input" name="q" type="text" value="{{ q }}" placeholder="Search for a word">
							<button class="button is-info">
								Search
							</button>
							<a id="file_download_button" class="button">Download</a>
						</p>
					</form>

				</div>
				<hr>
				<a id="delete_button" class="button is-danger">Delete</a>
				<table class="table" id="list_table">
					<thead>
					<tr>
						<th></th>
						<th>Word</th>
						<th>Translation</th>
						<th>Frequency</th>
						<th>Flags</th>
                        <th></th>
                        <th></th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<a id="more" class="button">More</a>
			</div>
		</div>
	</section>

{% endblock %}

<script>
	{% block js_footer %}
		var page = 1;
		var q = "{{ q }}";
		var singleword = "{{ sw }}";
		var has_next = true;
		var loading = false;
		var more_button = $("#more");

		function generate_tr_view(data) {
            var html = "<tr class='" + data.slug + "-view' data-oid='" + data.slug + "'><td><input class='word-check' name='check' data-oid='" + data.slug + "' type='checkbox'></td><td>" + data.inputtext + "</td><td>" + data.translation + "</td><td>" + data.frequency + "</td><td>" + data.flags + "</td><td></td><td><a class='button is-small edit-button'>Edit</a></tr>";
            return html;
        }
        function generate_tr_edit(data){
			var html = "<tr style='display: none' class='"+data.slug+"-edit' data-oid='" + data.slug + "'><td></td><td>"
                    + '<input class="input" required="required" name="inputtext" type="text" placeholder="Word" value="'+ data.inputtext + "\"></td><td>"
                    + '<input class="input" required="required" name="translation" type="text" placeholder="Translation" value="'+ data.translation + "\"></td><td>"
                    + '<input class="input" name="frequency" type="number" placeholder="Frequency" value="'+ data.frequency + "\"></td><td>"
                    + '<input class="input" name="flags" type="text" placeholder="Translation" value="'+ data.flags + "\"></td><td>"
                    + "<a class='button save-button is-success'><i class='fa fa-check'></i></a></td><td> <a class='button   cancel-button is-danger'><i class='fa fa-times'></i></a></td></tr>";
			return html;
		}
		function load_more() {
			if (has_next && !loading) {
				loading = true;
				var url = "/api/v1/words?count=15&q=" + q + "&page=" + page + "&singleword=" + singleword;
				$.getJSON(url, function (data) {
					if (!data.has_next) {
						has_next = false;
						more_button.addClass("is-disabled");
					}
					// console.info(data);
					if (data.page == page) {
						var html = "";
						$.each(data.words, function (i, item) {
							html += generate_tr_view(item);
							html += generate_tr_edit(item);
						});
						$("#list_table").append(html);
						page += 1;
						loading = false;
					}
				});
			}

		}
		more_button.on('click', function () {
			load_more();
		});
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 300) {
				load_more();
			}
		});
		load_more();

		$("#file_download_button").on("click", function (e) {
			e.preventDefault();
			var singleword = $('input[name="singleword"]').is(':checked');
			var q = $('input[name="q"]').val();
			window.location = "/api/v1/words_file?q=" + q + "&singleword=" + singleword;
		});

		$("#delete_button").on("click", function (e) {
			e.preventDefault();
			var w = $("input.word-check:checked");
			$.each(w, function (i, elem) {
				var oid = $(elem).data("oid");
				$.ajax({
					url: '/api/v1/word/' + oid,
					type: 'DELETE',
					success: function (result) {
						console.log("deleted: " + oid);
						$(elem).parent().parent().fadeOut(500);
					}
				});
			});
		});

        $(document).on("click",".edit-button",function(e){
            e.preventDefault();
            var oid = $(this).parents("tr").data('oid');
            $("."+oid+"-view").hide();
            $("."+oid+"-edit").show();
        });
        $(document).on("click",".save-button",function(e){
            e.preventDefault();
            var oid = $(this).parents("tr").data('oid');
            var edittext= "." + oid + "-edit";
			// get the form data
			var formData = {
				'inputtext': $(edittext + ' input[name="inputtext"]').val(),
				'translation': $(edittext + ' input[name="translation"]').val(),
				'frequency': $(edittext + ' input[name="frequency"]').val(),
                'flags': $(edittext + ' input[name="flags"]').val()
			};

			// process the form
			$.ajax({
				type: 'PUT',
				url: '/api/v1/word/'+oid,
				data: formData,
				dataType: 'json',
				encode: true
			}).done(function (d){
               data = d.word;
               html = generate_tr_view(data);
               $("."+oid+"-view").replaceWith(html);
               $("."+oid+"-view").show();
               $("."+oid+"-edit").hide();
			}).fail(function (data) {
                console.log("error in saving: "+data);
			});

        });
        $(document).on("click",".cancel-button",function(e){
            e.preventDefault();
            var oid = $(this).parents("tr").data('oid');
            $("."+oid+"-view").show();
            $("."+oid+"-edit").hide();
        });
	{% endblock %}
</script>