{% extends "base.html" %}

{% block content %}
	<section class="section">
		<div class="container">
			<div class="heading">
				<h1 class="title">New Translation</h1>
				<h2 class="subtitle">
                    {% if q %}
                        The translation for word "{{ q }}" was not found.<br>
                    {% endif %}
					Contribute to the database by adding new translations
				</h2>
			</div>
			<h1>Upload an encoded translation file</h1>
			<div class="upload_file">
				<form class="tf_form" action="/api/v1/words_file" method="post" enctype="multipart/form-data">
					<p class="control">
            <input type="file" name="file" class="input">
					</p>
					<p class="control">
						<button class="button is-success">
							Upload
						</button>
					</p>
				</form>
			</div>
			<hr>
			<h1>Or add a new translation with this form</h1>
			<div class="t_form">
				<form id="new_form">
					<div id="new-success" class="message is-success hidden">
						<div class="message-header">Success</div>
						<div class="message-body">Translation saved successfully!</div>
					</div>
					<div id="new-error" class="message is-danger hidden">
						<div class="message-header">Error</div>
						<div class="message-body">Translation was not saved!</div>
					</div>
					<p class="control">
					    	<label class="label">Word</label>
						<input class="input" required="required" name="inputtext" type="text" placeholder="Word" value="{{ q }}" autofocus>
					</p>
					<p class="control">
						<label class="label">Translation</label>
						<input class="input" required="required" name="translation" type="text" placeholder="Translation">
					</p>
					<p class="control">
						<label class="label">Frequency</label>
						<input class="input" required="required" name="frequency" type="number" value="100" placeholder="100">
					</p>
					<p class="control">
						<label class="label">Flags</label>
						<input class="input" name="flags" type="text" placeholder="Flags">
					</p>
					<p class="control">
						<button class="button is-success">
							Save
						</button>
					</p>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
<script>
	{% block js_footer %}
		var $form = $("form#new_form");
		$form.submit(function (e) {
			// get the form data
			var formData = {
				'inputtext': $trim($('input[name="inputtext"]').val()).toLowerCase(),
				'translation': $('input[name="translation"]').val(),
				'frequency': $('input[name="frequency"]').val(),
				'flags': $('input[name="flags"]').val()
			};

			// process the form
			$.ajax({
				type: 'POST',
				url: '/api/v1/words',
				data: formData,
				dataType: 'json',
				encode: true
			}).done(function (data) {
				$("#new-success").removeClass("hidden");
				setTimeout(function(){
					$("#new-success").addClass("hidden");
				},5000);
			}).fail(function (data) {
				$("#new-error").removeClass("hidden");
				setTimeout(function(){
					$("#new-error").addClass("hidden");
				},5000);
				console.log(data);
			});

			e.preventDefault();
			$form.trigger('reset');
		});

	{% endblock %}
</script>
